body {
    /* Specify the background image URL from the internet */
    background-image: url('https://t4.ftcdn.net/jpg/02/92/20/37/360_F_292203735_CSsyqyS6A4Z9Czd4Msf7qZEhoxjpzZl1.jpg');
    /* Set background size to cover the entire screen */
    background-size: cover;
    /* Center the background image */
    background-position: center;
    /* Fix the background image so it doesn't scroll with the content */
    background-attachment: fixed;
    /* Add a background color as a fallback */

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-bottom: 50px;
    
}
.navbar {
    background-color: #330000;
    color: #D09683;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #D09683;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column; /* Arrange panels in a column */
    align-items: center; /* Center the panels horizontally */
}

.upper-panel,
.lower-panel {
    width: calc(50% - 30px); /* 33.33% of container width minus margin */
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display: block; 
    
}

.title {
    text-align: center;
    background-color: #330000;
    color: #D09683;
    padding: 20px;
    margin: 0;
}

.input-field {
    margin-bottom: 10px;
    width: calc(100% - 10px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.action-btn {
    display: inline-block; /* Change to inline-block */
    width: 21%; /* Remove width */
    margin: 10px; /* Adjust margin */
    padding: 10px;
    background-color: #D09683;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-btn:hover {
    background-color: #993939;
}

.display-textarea {
    width: calc(100% - 20px);
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.image-container {
    width: 100%;
    text-align: center;
    margin-top: 20px; /* Adjust margin */
}

#recipe-image {
    max-width: 100%; /* Ensure the image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Add border radius if needed */
    border: 1px solid #ccc; /* Add border for image */
    margin-top: 10px; /* Adjust margin */
}


.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}